# Ignore everything by default
*

# Whitelist only dotfiles

# Whitelist directories
!backgrounds/
!fish/
!ghostty/
!gitui/
!home-manager/
!hypr/
!kanata/
!nushell/
!nvim/
!secrets/
!sops/
!television/

# Whitelist files inside the whitelisted directories
!backgrounds/**
!fish/**
!ghostty/**
!gitui/**
!home-manager/**
!hypr/**
!kanata/**
!nushell/**
!nvim/**
!secrets/**
!television/**

# Whitelist specific files
!flake.lock
!flake.nix
!mimeapps.list
# !BraveSoftware/
# !BraveSoftware/Brave-Browser/
# !BraveSoftware/Brave-Browser/Default/
# !BraveSoftware/Brave-Browser/Default/Bookmarks
