.direnv/
.gsd-keyboard.settings-ported
.wrangler
BraveSoftware/
Proton*
QtProject.conf
Rygel
alacritty
beekeeper-studio
btop/
cava
copyq
cosmic
danksearch
dconf
dgop
direnv
dleyna-server-service.conf
dlv
enchant
environment.d
equibop
evolution
fontconfig
foot
gh
gnome-initial-setup-done
go
google-chrome
gtk-3.0
gtk-4.0
ibus/
kew/
monitors.xml
mozilla
nushell/history.txt
pulse
qBittorrent
qt5ct
qt6ct
rygel.conf
systemd
turso
vlc
wezterm
configstore/
net.imput.helium/
