.direnv/
.wrangler
BraveSoftware/
Proton*
qBittorrent
Rygel
beekeeper-studio
cava
cosmic
danksearch
dconf
dgop
direnv
dleyna-server-service.conf
enchant
environment.d
evolution
fontconfig
gh
google-chrome
gtk-3.0
gtk-4.0
monitors.xml
mozilla
nushell/history.txt
pulse
qt5ct
qt6ct
rygel.conf
systemd
turso
vlc
alacritty
foot
equibop
go
wezterm
ibus/
.gsd-keyboard.settings-ported
btop/
kew/
QtProject.conf
gnome-initial-setup-done
dlv
