/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "papirus";
}
//@theme "/usr/share/rofi/themes/android_notification.rasi"
@theme "/usr/share/rofi/themes/sidebar-v2.rasi"
