layout {
    background-color "transparent"

    focus-ring {
        active-color   "#4e5b92"
        inactive-color "#767680"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#4e5b92"
        inactive-color "#767680"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#4e5b92"
        inactive-color "#767680"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#4e5b9280"
    }
}

recent-windows {
    highlight {
        active-color   "#364479"
        urgent-color   "#ba1a1a"
    }
}